<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <meta name="description"  content="YouTorial, the best platform to learn anything!"/>
    <title>YouTorial</title>
</head>
<body style="background-color: #ebebeb; text-align: center">
<div style="background-color: white; padding: 2rem; text-align:center; margin: 0 auto">
    <div style="text-align:center">
        <img src="https://image-bucket-youtorial.s3.eu-central-1.amazonaws.com/Youtorial_FLAT_JH__ref_jh__07-nobg.png" alt="logo" width="100px"
             height="100px" style="margin-bottom: 1rem"/>
        <h1>Email Address Verification</h1>
    </div>
    <h3>Please click the link below to verify your email address</h3>
    <div style="text-align:center">
        <button style="padding: 0.5rem; background-color: black; color: white; margin: 2rem auto;">
            <a href=[[URL]] target="_self" style="text-decoration: none; color: inherit;">
                VERIFY
            </a>
        </button>
    </div>
    <p style="font-weight: bold; margin-bottom: 2rem;">
        This link will expire after 2 hours. To request another verification link, please <a href=[[LOGIN]]>log in</a>
        &nbsp;to prompt a re-send
        link.
    </p>
    <div style="display: flex; justify-content: center; align-items: center;">
        <p style="font-size: smaller; color: grey;">This message was sent from Youtorial </p>
    </div>
</div>
</body>
</html>